# Ignore venv folder
.venv/

# Ignore all files in app except Python scripts
/app/*
!/app*.py

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Built Visual Studio Code Extensions
*.vsix
